{% extends 'base.html.twig' %}

{% block title %}Food list{% endblock %}

{% block body %}
    <h2> {date filter} </h2>
    <table class="table books-table table-hover table-bordered" id="books-list" rules="rows" cellpadding="5%" width="80%">
        {#        align="center" #}
        <tbody>
        {#        {% for category in foodList %}#}
        {% for category in paginator %}
            <tr align="center">
                <td>{{ loop.index }}</td>
                {#                <h4>{{ category }}</h4>#}
                <td>{{ category.name }}</td>
{#                <td>{{ category.user }}</td>#}
                <td>{ contributor_name }</td>
                <td>
                    <a href="{{ path('edit_category', {id: category.id}) }}">edit</a>
                    <form action="{{ path('delete_category', {id: category.id}) }}" method="post">
                        <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                        <button type="submit">clear</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">added by</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
    </table>

    {% if maxPages > 1 %}
        <ul class="pagination" display="inline" decoration="none">
            <li class="page-item {{ currentPage == 1 ? 'disabled' }}">
                <a class="page-link" aria-label="Previous" href="{{ path('category', {page: currentPage-1 < 1 ? 1 : currentPage-1}) }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for i in 1..maxPages %}
                <li class="page-item {{ currentPage == i ? 'active' }}">
                    <a class="page-link" href="{{ path('category', {page: i}) }}">{{ i }}</a>
                </li>
            {% endfor %}

            <li {{ currentPage == maxPages ? 'class="disabled"' }}>
                <a class="page-link" aria-label="Next" href="{{ path('category', {page: currentPage+1 <= maxPages ? currentPage+1 : currentPage}) }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    {% endif %}

    <span>
        <br><br>
        Can't find the proper item? Contribute our project by
        <a href="{{ path('add_food') }}">adding more food</a>
        to the menu!
    </span>
{% endblock %}