{% extends 'base.html.twig' %}

{% block title %}Food list{% endblock %}

{% block body %}
    <h2>Meal list - <small><a href="{{ path('add_meal') }}">add meal</a></small></h2>

    <table class="table books-table table-hover table-bordered" id="books-list" rules="rows" cellpadding="5%" width="80%">
        {#        align="center" #}
        <tbody>
        {#        {% for meal in foodList %}#}
        {% for meal in paginator %}
            <tr align="center">
                <td>{{ loop.index }}</td>
                <td>{{ meal.eatenAt|date('d.m.Y') }}</td>
                <td>{{ meal.eatenAt|date('H:i') }}</td>
                {#'Y-m-d H:i:s' / 'Y-m-d'#}
                {#                <h4>{{ meal }}</h4>#}
                <td>{{ meal.food }} x {{ meal.amount }}</td>
                <td>{{ meal.calories }} kcal</td>
                <td>
                    <a href="{{ path('edit_meal', {id: meal.id}) }}">edit</a>
                    <form action="{{ path('delete_meal', {id: meal.id}) }}" method="post">
                        <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                        <button type="submit">clear</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">date</th>
                <th scope="col">time</th>
                <th scope="col">Title</th>
                <th scope="col">Сalories</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
    </table>

    {% if maxPages > 1 %}
        <ul class="pagination">
            <li class="page-item-{{ currentPage == 1 ? 'disabled' : 'available' }}">
                <a class="page-link" aria-label="Previous" href="{{ path('meal', {page: currentPage-1 < 1 ? 1 : currentPage-1}) }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for i in 1..maxPages %}
                <li class="page-item-{{ currentPage == i ? 'active' : 'available' }}" display="inline" decoration="none">
                    <a class="page-link" href="{{ path('meal', {page: i}) }}">{{ i }}</a>
                </li>
            {% endfor %}

            <li class="page-item-{{ currentPage == maxPages ? 'disabled' : 'available' }}">
                <a class="page-link" aria-label="Next" href="{{ path('meal', {page: currentPage+1 <= maxPages ? currentPage+1 : currentPage}) }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    {% endif %}

    <span>
        <br><br>
        Can't find the proper item? Contribute our project by
        <a href="{{ path('add_food') }}">adding more food</a>
        to the menu!
    </span>
{% endblock %}