<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <style type="text/css">
                header{
                    background-color: linen;
                    padding-left:  25px;
                    padding-right: 25px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    /*background-image:*/
                    /*        linear-gradient(45deg, #f1abab 25%, transparent 25%,*/
                    /*        transparent 75%, lightcoral 75%, lightcoral),*/
                    /*        linear-gradient(45deg, lightcoral 25%, transparent 25%,*/
                    /*        transparent 75%, lightcoral 75%, lightcoral);*/
                    /*background-size: 60px 60px;*/
                    /*background-position: 0 0, 30px 30px;*/
                }
                .starter-template {
                    /*text-align: left;*/
                }
                .section.actions .btn {
                    display: block;
                    width: 100%;
                }
                body{
                    margin: 0;
                    /*background-image:*/
                            /*linear-gradient(45deg, #f1abab 25%, transparent 25%,*/
                            /*transparent 75%, #f1abab 75%, #f1abab),*/
                            /*linear-gradient(45deg, #f1abab 25%, transparent 25%,*/
                            /*transparent 75%, #f1abab 75%, #f1abab);*/
                    background-size: 60px 60px;
                    background-position: 0 0, 30px 30px;
                    /*$s: 60px;*/
                    /*background:*/
                    /*        repeating-conic-gradient(#000 0% 25%, #eee 0% 50%)*/
                    /*        50%/ #{$s $s};*/
                }
                .nav-link-logo {
                    text-decoration: none;
                    color: #ff8a15 !important;
                }
                .nav-link-logo:hover {
                    opacity: 0.85;
                }
                ul.pagination {
                    display: flex;
                    /*justify-content: center;*/
                    margin: 0; /* Обнуляем значение отступов */
                    padding: 4px;
                    background-color: #f9efe5;
                }
                .pagination a {
                    text-decoration: none;
                }
                .page-content {
                    padding: 15px
                }
                .page-item-available {
                    display: inline; /* Отображать как строчный элемент */
                    margin-right: 5px; /* Отступ слева */
                    border: 1px solid transparent; /* Рамка вокруг текста */
                    text-decoration-color: orange;
                    background-color: white;
                    border-radius: 5px;
                    padding: 3px 9px; /* Поля вокруг текста */
                }
                .page-item-active {
                    display: inline; /* Отображать как строчный элемент */
                    margin-right: 5px; /* Отступ слева */
                    border: 1px solid transparent; /* Рамка вокруг текста */
                    background-color: orange;
                    border-radius: 5px;
                    padding: 3px 9px; /* Поля вокруг текста */
                }
                .page-item-disabled {
                    display: none;
                }
                #menu-list label {
                    display: inline-block;
                    margin-right: 25px;
                }
                #menu-list a {
                    text-decoration: none;
                    font-size: 18px;
                    color: #a56626;
                }
                #menu-list a:hover {
                    text-decoration: underline;
                }

                #menu-list img {
                    max-width: 25px;
                    max-height: 25px;
                    float: left;
                    margin-right: 5px;
                }
            </style>
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>
                <a class="nav-link-logo" href="{{ path('homepage') }}">
                    WetWellFed
                </a>
            </h1>
            {% if is_granted('ROLE_EATER') %}
                <div id="menu-list">
                    <label>
                        <a href="{{ path('meal') }}">
                            <img src="https://wetwellfed.ru/img/history.png" align="bottom" alt="your score">
                            Consuming history
                        </a>
                    </label>
                    <label>
                        <a href="{{ path('add_meal') }}">
                            <img src="https://wetwellfed.ru/img/new_meal.png" align="bottom" alt="">
                            New meal
                        </a>
                    </label>
                    <label>
                        <a href="{{ path('food') }}">
                            <img src="https://wetwellfed.ru/img/ur_food.png" align="bottom" alt="">
                            My food
                        </a>
                    </label>
                    <label>
                        <a href="{{ path('teletram_auth') }}">
                            <img src="https://wetwellfed.ru/img/tg_bot.png" align="bottom" alt="">
                            Link Telegram
                        </a>
                    </label>
                </div>
            {% endif %}
            <div class="modal-body">
                <ul class="nav flex-column">
                    {% if is_granted('ROLE_SUPER_ADMIN_1') %}
                        <a class="nav-link" href="{{ path('show_dash') }}">Dashboard</a>
                    {% endif %}
                    {% if is_granted('ROLE_EATER') %}
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('app_login') }}">Login</a>{% endif %}
                </ul>
            </div>
        </header>
        <div class="page-content">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
