{% extends 'base.html.twig' %}

{% block title %}Bon appetit!{% endblock %}


{% block body %}
    <style type="text/css">
        #add-meal {
            background: green;
            border-radius: 8px;
            border: 1px solid #004d00;
            padding: 7px 26px;
            text-decoration: none;
            color: white;
            font-weight: normal;
        }
        #add-meal:hover {
            opacity: 0.85;
        }

        .year_track{
            width: 100%;
            max-width: 1200px;
            border-collapse: collapse; /* убрать отступы между ячейками, которые добавляет браузер  */
            margin: auto;
        }
        .year_track tr,
        .year_track td {
            padding: 0;
            margin: 0;
        }
        .daily_kcal{
            border-radius: 4px;
            padding: 0;
            margin: 1px;
            width: 14px;
            height: 14px;
            display: inline-block;
            border: 2px solid transparent;

        }
        .daily_kcal:hover{
            border-color: gray;
            /*padding: initial;*/
            /*width: 30px;*/
            /*height: 30px;*/
        }
        /*
        1. тёмно зелёный
        2. зелёный, но не ярко зелёный
        3. яркий зелёный
        4. оранжевый
        5. красный
        */
        .lvl0{
            background-color: darkgray;
        }
        .lvl1{
            background-color: #003100;
            background-color: rgba(101, 136, 101, 0.62);
            background-color: #4f805d;
        }
        .lvl2{
            background-color: #004d00;
            background-color: #5b995b;
            /*background-color: #7bb37b;*/
            background-color: #5bb15b;
        }
        .lvl3{
            background-color: green;
            background-color: #19a419;
            background-color: #15b115;
        }
        .lvl4{
            background-color: orange;
            background-color: #d3a043;
        }
        .lvl5{
            background-color: red;
            background-color: #cc3a3a;
        }

        .year_track .border-right,
        .year_track .border-bottom {
            border-color: #806b6b;
            border-style: dashed;
            border-width: 0px;
        }

        .year_track .border-right {
            border-right-width: 2px;
        }
        .year_track .border-bottom {
            border-bottom-width: 2px;
        }
    </style>
    <h2 align="center">
        <br><br> your score today:<br>
        {{ todayScore }}/{{ maxScore }}kcal
        <br><br>
        <a id="add-meal" class="nav-link" href="{{ path('add_meal') }}">
            new meal
        </a>
        <br><br>
    </h2>
    <h5 align="center" style="color: gray;">
        Your year history
    </h5>
    <table class="year_track" table-layout="fixed">
        {% set hidden = true %}
        {% for weekday in timeline %}
            <tbody>
            <tr align="center">
                {% if hidden == false %}
                    <td>{{ weekDays[loop.index0] }}</td>
                    {% set hidden = true %}
                {% elseif hidden == true %}
                    <td></td>
                    {% set hidden = false %}
                {% endif %}

                {% for day in weekday %}
                    <td class="{{ day.cssClass }}" title="{{ day.kcal }} kcal - {{ day.date }}">
                        <a class="lvl{{ day.lvl }} daily_kcal">
                            {#{{ day.kcal }}#}
                        </a>
                    </td>
                {% endfor %}
            </tr>
            </tbody>
        {% endfor %}
        <thead>
        <tr>
            <th scope="col"> </th>
            {% for month in months %}
                <th nowrap style="text-align: left;" bordercolor="black" colspan="{{ month.weeksInMonth }}">
                    {% if month.weeksInMonth > 2 %}
                        {{ month.name }}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
        </thead>
    </table>
{% endblock %}